body{
    margin: 0;
    padding: 0;
    background: linear-gradient(to top, #89d7fb, #38a7e2);
}

h2{
    font-style: italic;
    color: indianred;
}

span{
    color: rgb(137, 102, 14);
}

#pets{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 400px;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    margin: 10px;
}

img{
    width: 100%;
    border-radius: 25px;
}

h4 {
    text-align: right;
    color: #3c787e;
}


@media (max-width: 400px) {
    #pets{
        flex-wrap: wrap;
    }

    .card {
        padding: 5px;
        border-radius: 20px;
    }

    img {
        border-radius: 20px;
    }
}